* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* colors */
:root {
  --bg-yellow: #f9d35542;
  --text-yellow: #ffc300;
  --text-black: #010101;
  --text-gray: #706f7b;
  --body-background: #fafaf7;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "poppins", sans-serif;
  position: relative;
  color: #010103;
}

.container {
  max-width: 133rem;
  margin: 0 auto;
  padding: 0 2.5rem !important;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--text-yellow) #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--text-yellow);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-yellow);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--text-yellow);
}

.navbar {
  max-width: 133rem;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 2.7rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar__img a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--text-yellow);
}

.navbar__img a h1 {
  color: var(--text-black);
}

.navbar__links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.1rem;
}

.navbar__links a {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 550;
  text-decoration: none;
  color: var(--text-black);
  cursor: pointer;
  transition: all 0.3s;
}

.navbar__links a:hover {
  color: var(--text-yellow);
}

@media (max-width: 1000px) {
  .navbar__links {
    display: none;
  }
}

.navbar__buttons {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 550;
}

@media (max-width: 1000px) {
  .navbar__buttons {
    display: none;
  }
}

.navbar__buttons a {
  text-decoration: none;
}

.navbar__buttons__log-in {
  color: var(--text-black);
  cursor: pointer;
  transition: all 0.3s;
}

.navbar__buttons__log-in:hover {
  color: var(--text-yellow);
}

.navbar__buttons__sign-up {
  background-color: var(--text-yellow);
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 3px;
  box-shadow: -4px -3px 10px 0px rgba(255, 195, 0, 0.27);
  transition: all 0.3s;
}

.navbar__buttons__sign-up:hover {
  box-shadow: -4px -3px 20px 0px rgba(255, 195, 0, 0.5);
  background-color: #ffbc02;
  color: white !important;
}

.mobile-menu-icon {
  cursor: pointer;
  transition: all 0.3s;
  display: none;
}

.mobile-menu-icon:hover {
  color: var(--text-yellow);
}

@media (max-width: 1000px) {
  .mobile-menu-icon {
    display: flex;
  }
}

.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #ffffff;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.mobile-navbar-close {
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.mobile-navbar-close:hover {
  color: var(--text-yellow);
}

.mobile-navbar-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 2.3rem;
  gap: 3rem;
  text-align: center;
}

.mobile-navbar-links li a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: 550;
  transition: all 0.3s;
}

.mobile-navbar-links li a:hover {
  color: var(--text-yellow);
}

.open-mobile-nav {
  left: 0;
}

.hero-content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 800px) {
  .hero-content {
    justify-content: center;
  }
}

.hero-content-text {
  display: flex;
  flex-direction: column;
  z-index: 3;
  max-width: 50rem;
  margin-top: 5rem;
}

@media (max-width: 800px) {
  .hero-content-text {
    text-align: center;
    align-items: center;
  }
}

.hero-content-text h4 {
  font-size: 2.2rem;
  font-family: "Rubik", sans-serif;
  color: var(--text-black);
}

.hero-content-text h1 {
  font-size: 5.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--text-black);
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
}

.hero-content-text h1 span {
  color: var(--text-yellow);
}

.hero-content-text p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  color: var(--text-gray);
  margin-bottom: 4rem;
}

.hero-content-img {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 65%;
  margin-top: 5rem;
  filter: drop-shadow(1px 15px 10px #ffc300);
}

@media (max-width: 800px) {
  .hero-content-img {
    display: none;
  }
}

.hero-content-btns {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
}

.hero-content-btns a {
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
}

@media (max-width: 450px) {
  .hero-content-btns {
    flex-direction: column;
  }
}

.hero-content-btn-book-ride {
  background-color: var(--text-yellow);
  color: white;
  padding: 1.8rem 3rem;
  box-shadow: 0 10px 10px 0 #ffe282f8;
  transition: all 0.3s;
  border-radius: 2px;
}

.hero-content-btn-book-ride:hover {
  box-shadow: 0 15px 20px 0 #ffe282f8;
}

@media (max-width: 450px) {
  .hero-content-btn-book-ride {
    padding: 1.8rem 8rem;
  }
}

.hero-content-btn-learn-more {
  background-color: var(--body-background);
  color: var(--text-yellow);
  padding: 1.8rem 3rem;
  transition: all 0.3s;
  border: 2px solid var(--text-yellow);
  border-radius: 2px;
}

.hero-content-btn-learn-more:hover {
  background-color: var(--text-yellow);
  color: white;
}

@media (max-width: 450px) {
  .hero-content-btn-learn-more {
    padding: 1.8rem 8rem;
  }
}

.scrollUp {
  background-color: var(--text-yellow);
  border-radius: 50px;
  width: 4rem;
  height: 4rem;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 20;
  cursor: pointer;
}

.showScrollUp {
  display: flex;
}

.plan-container {
  display: flex;
  flex-direction: column;
}

.plan-container-title {
  margin: 0 auto;
  text-align: center;
}

.plan-container-title h3 {
  font-size: 2.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.plan-container-title h2 {
  font-size: 4.2rem;
  font-family: "Poppins", sans-serif;
  margin: 1.3rem 0 1.3rem 0;
}

.plan-container-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-top: 3.7rem;
  padding: 0 3rem;
}

@media (max-width: 1050px) {
  .plan-container-boxes {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media (max-width: 800px) {
  .plan-container-boxes {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
}

.plan-container-boxes-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 6rem;
}

@media (max-width: 500px) {
  .plan-container-boxes-box {
    padding: 1rem 1rem;
  }
}

/* .plan-container-boxes-box img {
  width: 17rem;
  height: auto;
} */

.plan-container-boxes-box-img {
  width: 14rem;
  height: 14rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-yellow);
}

.shape1 {
  border-radius: 33% 67% 67% 33% / 65% 14% 86% 35%;
}

.shape2 {
  border-radius: 54% 46% 67% 33% / 65% 72% 28% 35%;
}

.shape3 {
  border-radius: 81% 19% 32% 68% / 19% 82% 18% 81%;
}

.plan-container-boxes-box h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.plan-container-boxes-box p {
  font-size: 1.6rem;
  color: var(--text-gray);
  font-family: "Rubik", sans-serif;
  line-height: 1.43;
}

.pick-section {
  padding: 10rem 0;
  background-color: white;
}

.pick-container {
  display: flex;
  flex-direction: column;
}

.pick-container-title {
  margin: 0 auto;
  text-align: center;
  max-width: 50rem;
  margin-bottom: 5rem;
}

.pick-container-title h3 {
  font-size: 2.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.pick-container-title h2 {
  font-size: 4.2rem;
  font-family: "Poppins", sans-serif;
  margin: 0.5rem 0 1rem 0;
}

.pick-container-title p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: #706f7b;
  line-height: 1.5;
}

.pick-container-car-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 1050px) {
  .pick-container-car-content {
    flex-direction: column;
    gap: 5rem;
  }
}

.pick-box {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.pick-box button {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  background-color: #e9e9e9;
  transition: all 0.2s;
  text-align: left;
}

.pick-box button:hover {
  background-color: var(--text-yellow);
  color: white;
}

.pick-car {
  width: 50rem;
  position: relative;
}

@media (max-width: 700px) {
  .pick-car {
    width: 100%;
  }
}

.pick-car img {
  width: 100%;
}

.pick-description {
  width: 25rem;
}

.pick-description-price {
  background-color: var(--text-yellow);
  width: 100%;
  font-size: 1.8rem;
  padding: 0.5rem 1.9rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: white;
}

.pick-description-price span {
  font-size: 2.8rem;
  font-weight: 700;
}

.pick-description-table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  font-size: 1.4rem;
}

.pick-description-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-template-rows: auto;
  border-bottom: 2px solid var(--text-gray);
  border-left: 2px solid var(--text-gray);
  border-right: 2px solid var(--text-gray);
  padding: 0.9rem 0.5rem;
}

.pick-description-table-row span:nth-child(1) {
  border-right: 2px solid var(--text-gray);
}

.cta-btn {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: white;
  background-color: var(--text-yellow);
  width: 100%;
  padding: 1rem 1rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1.4rem;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
  box-shadow: 6px 6px 0 #efe9e9;
}

.cta-btn:hover {
  background-color: #d5a919;
}

.box-cars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11rem;
}

@media (max-width: 1200px) {
  .box-cars {
    gap: 2rem;
  }
}

@media (max-width: 700px) {
  .box-cars {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.2588235294);
  border-radius: 50%;
  border-bottom-color: var(--text-yellow);
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.colored-btn {
  background-color: var(--text-yellow) !important;
  color: white;
}

.choose-content {
  display: flex;
  flex-direction: column;
}

.choose-title {
  text-align: center;
  max-width: 70rem;
  margin: 0 auto;
}

.choose-title h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.choose-title h2 span {
  color: var(--text-yellow);
}

.choose-title p {
  color: var(--text-gray);
  font-size: 1.8rem;
  line-height: 1.5;
}

.choose-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  gap: 2.3rem;
  padding: 0 2rem 0 2rem;
  margin: 5rem 0 5rem 0;
}
@media (max-width: 1050px) {
  .choose-details {
    grid-template-columns: 1fr;
    align-self: center;
    row-gap: 2.3rem;
    max-width: 90rem;
    padding: 0;
  }
}

.choose-details-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 55rem;
  gap: 2rem;
}

.choose-details-box-img {
  background-color: var(--bg-yellow);
  padding: 1.7rem;
  border-radius: 10px;
}

.choose-details-box-text h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.choose-details-box-text p {
  font-size: 1.7rem;
  color: var(--text-gray);
  line-height: 1.2;
}

.faq-section {
  padding: 10rem 0;
  background-image: url("/src/images/faq/car.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 70%;
}

.faq-content {
  display: flex;
  flex-direction: column;
}

.faq-content-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 80rem;
  line-height: 1.5rem;
}

.faq-content-title h5 {
  font-size: 2.2rem;
  font-weight: 700;
}

.faq-content-title h2 {
  font-size: 4.2rem;
  margin-bottom: 2.5rem;
  font-weight: 800;
}

.faq-content-title p {
  font-size: 1.6rem;
  color: var(--text-gray);
  line-height: 1.5;
}

.all-questions {
  display: flex;
  justify-self: center;
  justify-content: center;
  margin-top: 7rem;
}

.accordion {
  width: 80rem;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  --bs-accordion-active-bg: #ffc300;
  --bs-accordion-active-color: white;
  --bs-accordion-btn-focus-box-shadow: 0 5px 8px 0 #c9a329;
  --bs-accordion-btn-icon-: 700;
}
.accordion h2 button {
  font-size: 1.8rem;
  font-weight: 550;
  padding: 2.2rem 3.5rem;
}

.accordion-body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--text-gray);
  line-height: 1.7;
  padding: 2.5rem;
}

footer {
  background-color: #ffffff;
  padding: 10rem 0;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #010103;
  gap: 8rem;
  text-align: left;
  justify-content: center;
}

.footer-content-item {
  list-style: none;
}

@media (max-width: 1100px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
  .footer-content-item {
    text-align: center;
  }
}

.footer-content-item li a {
  text-decoration: none;
  color: #010103;
  transition: all 0.2s;
}

.footer-content-item li a:hover {
  color: var(--text-yellow);
}

.footer-content-1 li:nth-child(1) {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.footer-content-1 li:nth-child(1) span {
  font-weight: 700;
}

.footer-content-1 li:nth-child(2) {
  color: var(--text-gray);
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}

.footer-content-1 li:nth-child(3),
.footer-content-1 li:nth-child(4) {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-content-2 li {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.footer-content-2 li:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 750;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.footer-content-item input {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  background-color: #ececec;
  border-color: transparent;
  padding: 10px 60px;
  outline: none;
  margin-top: 1rem;
  border-width: 1px;
}

@media (max-width: 1100px) {
  .footer-content-item input {
    width: 100%;
  }
}

.submit-email {
  color: white;
  background-color: var(--text-yellow);
  text-align: center;
  padding: 10px 60px;
  border-radius: 0.3rem;
  box-shadow: 0 3px 6px 0 #d4a714;
  border: 2px solid var(--text-yellow);
  font-weight: 700;
  font-size: 1.7rem;
  transition: all 0.3s;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  width: 100%;
}

.submit-email:hover {
  box-shadow: 0 5px 12px 0 #d4a714;
  background-color: #f4bc06;
  border: 2px solid #f4bc06;
}

.hero-page {
  width: 100%;
  height: 41rem;
  background-image: url("/src/images/hero/heroes-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-page-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.hero-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 33333;
  position: relative;
  width: 100%;
  height: 41rem;
  color: #010103;
}

.hero-page-text h3 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero-page-text p {
  font-size: 1.6rem;
  font-weight: 600;
}

.hero-page-text p a {
  color: #010103;
  text-decoration: none;
  transition: all 0.2s;
}

.hero-page-text p a:hover {
  color: var(--text-yellow);
}

.about-content {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
}

.about-main-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 5rem;
  gap: 4rem;
}

.about-main-text h2 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--text-yellow);
}

.about-main-text p {
  font-size: 1.7rem;
  color: var(--text-gray);
  max-width: 60rem;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.about-main-1 img {
  width: 40rem;
  height: 25rem;
  border-radius: 0.5rem;
}

@media (max-width: 960px) {
  .about-main-1 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    max-width: 49rem;
  }

  .about-main-1 img {
    margin: 0 auto;
  }

  .about-main-2 {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 520px) {
  .about-content {
    max-width: 100%;
  }
  .about-main-1 img {
    max-width: 100%;
    height: auto;
  }
}

.contact-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  background-image: url("/src/images/banners/bg-contact.png");
  padding: 10rem 2rem;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 950px) {
  .contact-div {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.contact-div-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 41rem;
}

@media (max-width: 950px) {
  .contact-div-text {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.contact-div-text h2 {
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: #010103;
}

.contact-div-text p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--text-gray);
  line-height: 1.6;
  margin-bottom: 2rem;
}

.contact-div-text span {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #010103;
}

.contact-div-form {
  display: flex;
  flex-direction: column;
}

.contact-div-form form {
  display: flex;
  flex-direction: column;
}

.contact-div-form form label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-div-form form label b {
  color: red;
}

.contact-div-form form input {
  background-color: #f2f2f2;
  padding: 19px 30px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin-bottom: 2.5rem;
}

.contact-div-form form textarea {
  background-color: #f2f2f2;
  height: 18rem;
  padding: 19px 30px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin-bottom: 2.5rem;
}

.contact-div-form form button {
  background-color: var(--text-yellow);
  padding: 1.8rem 3rem;
  border: 2px solid var(--text-yellow);
  transition: all 0.3s;
  border-radius: 0.3rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  box-shadow: 0 10px 15px 0 rgba(255, 220, 48, 0.438);
}

.contact-div-form form button:hover {
  background-color: white;
  color: var(--text-yellow);
}

.models-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5rem;
  margin: 10rem auto;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1150px) {
  .models-div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .models-div {
    grid-template-columns: 1fr;
  }
}

.car-box {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.car-box img {
  width: 100%;
  height: 20rem;
}

.car-box h3 {
  font-size: 2.8rem;
}

.car-data {
  margin: 2rem 0rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-box span {
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(114, 110, 110, 0.1);
  border: 1px solid rgba(114, 110, 110, 0.2);
}

.book-btn {
  padding: 1.3rem;
  font-size: 1.8rem;
  font-weight: 600;
  border: 2px solid transparent;
  outline: none;
  color: var(--text-yellow);
  transition: all 0.3s;
  border-radius: 0.5rem;
}

.book-btn:hover {
  border: 2px solid var(--text-yellow);
}

.book-content {
  margin: 0 auto;
  margin-bottom: 10rem;
}

.book-content-box {
  background-color: #ffffff;
  width: 100%;
  padding: 5rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  height: auto;
  position: relative;
  border-radius: 5px;
  background-image: url("/src/images/book-car/book-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #010103;
}

.book-content-box h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2.7rem;
}

.book-content-box .box-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

@media (max-width: 1000px) {
  .book-content-box .box-form {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .book-content-box .box-form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .book-content-box {
    padding: 4rem 2.5rem 5rem 2.5rem;
  }
}

.book-content-box .box-form b {
  color: red;
}

.book-content-box .box-form-car-type {
  display: flex;
  flex-direction: column;
}

.book-content-box .box-form-car-type label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
}

.book-content-box .box-form-car-type select {
  font-size: 1.5rem;
  color: #ababab;
  font-family: "Rubik", sans-serif;
  border: 1px solid #ccd7e6;
  border-radius: 3px;
  font-weight: 400;
  padding: 1.2rem 1.3rem;
  outline: none;
}

.book-content-box .box-form-car-type input {
  font-size: 1.5rem;
  color: #ababab;
  font-family: "Rubik", sans-serif;
  border: 1px solid #ccd7e6;
  border-radius: 3px;
  font-weight: 400;
  padding: 1.2rem 1.3rem;
  outline: none;
}

.book-content-box .box-form-car-type ::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.book-content-box button {
  padding: 1.2rem 1.3rem;
  height: -moz-fit-content;
  height: fit-content;
  align-self: self-end;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  background-color: var(--text-yellow);
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 5px 7px #ffc40069;
}

.book-content-box button:hover {
  box-shadow: 0 5px 7px #ffc400b8;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  padding: 1rem 1rem;
  margin-bottom: 1.8rem;
  margin-top: -1rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 550;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.error-message i {
  cursor: pointer;
}

.booking-done {
  color: #2a6817;
  background-color: #c3fabe;
  padding: 1rem 1.4rem;
  margin-bottom: 1.8rem;
  margin-top: -1rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 550;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.booking-modal {
  opacity: 0;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999999;
  background-color: rgba(255, 255, 255);
  border: 2px solid white;
  width: 83rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 2px;
  color: #010103;
}

.modal-overlay {
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999999;
}

.active-modal {
  opacity: 1;
  display: flex;
}

@media (max-width: 800px) {
  .booking-modal {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .booking-modal {
    top: 50%;
  }
}

.booking-modal-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: var(--text-yellow);
  color: white;
  align-items: center;
}

.booking-modal-title h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.booking-modal-message {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-yellow);
  padding: 2rem 3rem;
  gap: 1.5rem;
}

.booking-modal-message h4 {
  color: var(--text-yellow);
  font-size: 1.9rem;
  font-weight: 700;
}

.booking-modal-message p {
  color: var(--text-gray);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
}

.booking-modal-car-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(119, 119, 119, 0.6235294118);
  padding: 3rem 3rem;
}

@media (max-width: 650px) {
  .booking-modal-car-info {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.dates-div {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.booking-modal-car-info-dates {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.booking-modal-car-info-dates h5 {
  color: var(--text-yellow);
  font-size: 1.8rem;
  font-weight: 600;
}

.booking-modal-car-info-dates span {
  display: flex;
  gap: 1rem;
}

@media (max-width: 650px) {
  .booking-modal-car-info-dates span {
    text-align: center;
    justify-content: center;
  }
}

.booking-modal-car-info-dates span h6 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.booking-modal-car-info-dates span p {
  font-size: 1.6rem;
  color: var(--text-gray);
}

.booking-modal-car-info-model {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 650px) {
  .booking-modal-car-info-model {
    margin-top: 3.5rem;
  }
}

.booking-modal-car-info-model h5 {
  color: var(--text-yellow);
  font-size: 1.8rem;
  font-weight: 600;
}

.booking-modal-car-info-model h5 span {
  color: #010103;
}

.booking-modal-car-info-model img {
  width: 100%;
  height: auto;
}

.input-time {
  text-align: center;
  width: 8rem;
  font-size: 14px;
  cursor: pointer;
}

.booking-modal-person-info {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem;
}

.booking-modal-person-info h4 {
  color: var(--text-yellow);
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.info-form {
  display: flex;
  flex-direction: column;
}

.info-form-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: #565454;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.info-form-checkbox input {
  width: 1.6rem;
  height: 1.6rem;
}
.info-form-checkbox p {
  margin: 0;
}

.info-form-2col,
.info-form-1col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.info-form-1col {
  grid-template-columns: 1fr;
}

@media (max-width: 650px) {
  .info-form-2col {
    grid-template-columns: 1fr;
  }
}

.info-form-2col span,
.info-form-1col span {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.info-form-2col span label,
.info-form-1col span label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #777777;
}

.info-form-2col span b,
.info-form-1col span b {
  color: red;
}

.info-form-2col span input,
.info-form-1col span input {
  padding: 14px 15px;
  background-color: #dbdbdb;
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  outline: none;
}

.reserve-button {
  background-color: #dbdbdb;
  margin: 0 -3rem;
  padding: 3rem;
  text-align: right;
}

@media (max-width: 650px) {
  .reserve-button {
    text-align: center;
  }
}

.reserve-button button {
  font-size: 2rem;
  color: white;
  font-weight: 700;
  background-color: var(--text-yellow);
  padding: 1.2rem 2rem;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid var(--text-yellow);
}

.reserve-button button:hover {
  background-color: #ffa600;
}
